<div class="container">
  <mat-card>
    <mat-card-title>Trainingsplan</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form">
        <div class="row">
          <div class="col-4">
            <mat-form-field>
              <input matInput placeholder="Titel" formControlName="title"  >
              <mat-error *ngIf="formControlIsReadyWithErrors('title') && form.get('title').errors.required">Ein Titel muss angegeben werden.</mat-error>
              <mat-error *ngIf="formControlIsReadyWithErrors('title') && form.get('title').errors.titleAlreadyExists">Titel existiert bereits.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div formArrayName="practices">
          <div *ngFor="let practice of getPracticesFormArray().controls; let practicesIndex=index">
            <div [formGroupName]="practicesIndex" class="row">
              <div class="col-7">
                <mat-form-field>
                  <input matInput placeholder="Übung" formControlName="name">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <input matInput placeholder="Wdh / Dauer" formControlName="quantity">
                </mat-form-field>
              </div>
              <div class="col-2">
                <div class="row">
                  <div class="col-2">
                    <button (click)="addPracticeControlAfter(practicesIndex)" type="button" class="close" aria-label="Danach einfügen">
                      <span class="plan-form-control" aria-hidden="true">&#43;</span>
                    </button>
                  </div>
                  <div class="col-2">
                    <button (click)="removePracticeControls(practicesIndex)" type="button" class="close" aria-label="Löschen">
                      <span class="plan-form-control" aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <div class="col">
          <back-button></back-button>
        </div>
        <div class="col">
          <button (click)="onSubmit()" type="button" class="btn btn-success float-right">Plan speichern</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>


