<div class="container">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <input matInput placeholder="Titel" formControlName="title"  >
        </mat-form-field>
      </div>
      <div class="col-8">
        <button (click)="onSubmit()" type="button" class="btn btn-success">Plan erstellen</button>
      </div>
    </div>
    <div formArrayName="practices">
      <div *ngFor="let practice of form.get('practices').controls; let practicesIndex=index">
        <div [formGroupName]="practicesIndex" class="row">
          <div class="col-6">
            <mat-form-field>
              <input matInput placeholder="Übung" formControlName="name">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <input matInput placeholder="Wiederholungen / Dauer" formControlName="reps">
            </mat-form-field>
          </div>
          <div class="col-2">
            <button (click)="removePracticeControls(practicesIndex)" type="button" class="btn btn-secondary">X</button>
          </div>
        </div>

      </div>
    </div>
  </form>
  <button (click)="addPracticeControls()" type="button" class="btn btn-primary">Übung Hinzufügen</button>
</div>


